@font-face {
  font-family: Raleway;
  src: url('Raleway-Regular.ttf');
}

body {
  background-color: #dddddd;
  margin: 0px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  align-content: center;
  background-color: darkgrey;
  padding: 10px;
  margin-bottom: 20px;
  border-bottom: 2px solid black;
  justify-content: center;
}

header img {
  align-self: center;
  padding: 10px;
  border: 2px solid white;
  margin-right: 10px;
  background-image: linear-gradient( to bottom right, white 33%, darkgrey 80% );
}

header a.title {
  flex: 1;
  vertical-align: middle;
  color: white;
  font-size: 24px;
  font-family: 'Raleway', sans-serif;;
  line-height: 26px;
  text-decoration: none;
}

header div.title-container {
  display: flex;
  flex-direction: column;
  margin-top: -2px;
}

h1,h2,h3,h4,h5 {
  font-family: sans-serif;
  text-align: center;
}

div.content {
  flex: 1;
  margin: 0px 120px 0px 120px;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

footer {
  display: flex;
  justify-content: center;
  align-content: center;
  justify-self: flex-end;
  background-color: darkgrey;
  border-top: 2px solid black;
  padding: 10px;
}

footer a {
  font-family: sans-serif;
  color: white;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

table {
  width: 60%;
  border: 1px solid black;
  border-collapse: collapse;
  background-color: #dddddd;
  margin-left: auto;
  margin-right: auto;
}

td {
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  text-align: center;
  border: none;
  border-bottom: 1px solid black;
}

td a {
  color: black;
}

th {
  border: none;
  border-bottom: 2px solid black;
  font-family: sans-serif;
}

div.chart {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.chart div.chart-controls {
  display: flex;
  justify-content: center;
}

.tick line{
  opacity: 0.2;
  stroke-dasharray: 5 5;
}

@media all and (min-width: 600px) {
  td {
    padding: 1rem;
  }

  th {
    font-size: large;
    padding: 0.5rem;
  }
}

@media all and (max-width: 599px) {
  td {
    padding: 2px;
    font-size: larger;
  }

  th {
    height: 2rem;
    font-size: larger;
    padding: 2px;
  }

  div.content {
    margin: 0px 5px 0px 5px;
  }

  table {
    width: 100%;
  }

  div.chart {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  div.chart div.chart-controls {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  div.chart div.chart-controls input, button {
    height: 3rem;
    font-size: larger;
    margin-bottom: 2rem;
  }

  div.chart svg {
    width: 100%;
  }

  div.content p {
    font-size: x-large;
  }

  footer {
    font-size: x-large;
  }
}
