@font-face {
  font-family: Raleway;
  src: url('Raleway-Regular.ttf');
}

body {
  background-color: #dddddd;
  margin: 0px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  align-content: center;
  background-color: darkgrey;
  padding: 10px;
  margin-bottom: 20px;
  border-bottom: 2px solid black;
  justify-content: center;
}

header img {
  align-self: center;
  padding: 10px;
  border: 2px solid white;
  margin-right: 10px;
  background-image: linear-gradient( to bottom right, white 33%, darkgrey 80% );
}

header a.title {
  flex: 1;
  vertical-align: middle;
  color: white;
  font-size: 24px;
  font-family: 'Raleway', sans-serif;;
  line-height: 26px;
  text-decoration: none;
}

header div.title-container {
  display: flex;
  flex-direction: column;
  margin-top: -2px;
}

div.content {
  flex: 1;
}

footer {
  display: flex;
  justify-content: center;
  align-content: center;
  justify-self: flex-end;
  background-color: darkgrey;
  border-top: 2px solid black;
  padding: 10px;
}

footer a {
  font-family: sans-serif;
  color: white;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

table {
  width: 50%;
  border: 1px solid black;
  border-collapse: collapse;
  background-color: #dddddd;
}

td {
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  text-align: center;
  border: none;
  border-bottom: 1px solid black;
}

th {
  border: none;
  border-bottom: 2px solid black;
  font-family: sans-serif;
}

@media all and (min-width: 600px) {
  td {
    padding: 1rem;
  }

  th {
    font-size: large;
    padding: 0.5rem;
  }
}

@media all and (max-width: 599px) {
  td {
    padding: 2px;
  }

  th {
    font-size: smaller;
    padding: 2px;
  }
}

.tick line{
    opacity: 0.2;
    stroke-dasharray: 5 5;
}
