.TitleViewText {
  display: flex;
  flex-direction: column;
  margin-top: -2px;
}

.TitleViewText a {
  flex: 1;
  vertical-align: middle;
  color: hsl(195, 100%, 15%);
  font-size: 24px;
  line-height: 26px;
  text-decoration: none;
}

.TitleViewText a::first-letter {
  font-weight: 800;
  font-size: 32px;
}
