.HistoryChart {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.HistoryChart input, button {
  height: 3rem;
  font-size: larger;
  margin-bottom: 2rem;
}
