.Page {
  background-color: #dddddd;
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: sans-serif;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

@font-face {
  font-family: Raleway;
  src: url('/static/Raleway-Regular.ttf');
}