<!DOCTYPE html>

<html lang="en">
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
      <link rel="stylesheet alternate" href="{{ url_for('static', filename='nookmas.css') }}" title="It's Nookmas!">
      <link rel="stylesheet alternate" href="{{ url_for('static', filename='yosher.css') }}" title="Yosher!">
      <link rel="shortcut icon" href="/favicon.ico" />
      {% block head %}{% endblock %}
    </head>
    {% include 'header.html' %}
    <body>
      <div class="content">
        {% block content %}{% endblock %}
      </div>
      {% include 'footer.html' %}
    </body>
</html>
