<div id="root"></div>
<script type="text/javascript">
window.gon = {
  currentUser: {
    isAuthenticated: "{{current_user.is_authenticated}}" == "True",
    username: "{{current_user.username}}"
  },
  username: "{{username}}",
  // Convert datestring to unix timestamp once now so we don't have to many times later
  // Dictionary -> Array backwards compatability. TODO: Rewrite user_chart.js to use updated ORM structure
  data: JSON.parse('{{data | safe}}')
}
</script>
<script src="/static/bundle-history.js"></script>
