{% extends "base.html" %}

{% block head %}
  <title>Dry Electrics Delegator - Home</title>
  <script src="{{ url_for('static', filename='moment.min.js') }}" /></script>
  <script>
    moment.relativeTimeThreshold('s', 60);
    moment.relativeTimeThreshold('ss', 1);
    moment.relativeTimeThreshold('m', 60);

    function updateTable() {
      fetch('/api/stats')
        .then(function(response) {
          return response.json();
        })
        .then(function(json) {
          if(json.length == 0) {
            document.getElementById("tableDiv").innerHTML = "<h2>Nobody is currently reporting charging data.</h2>"
          } else {
            tableHTML =
              '<table border="1"> \
                <tr> \
                  <th>User</th> \
                  <th>Percentage</th> \
                  <th>Charging</th> \
                  <th>Updated At</th> \
                </tr>'

            for (let i = 0; i < json.length; i++) {
              const user = json[i]
              tableHTML += '<tr style="background-color: ' + user[0] + '">'
              tableHTML += '<td><a href="users/' + user[1] + '">' + user[1] + '</a></td>'
              tableHTML += '<td>' + user[2] + '</td>'
              tableHTML += '<td>' + user[3] + '</td>'
              tableHTML += '<td class="human-time">' + moment.unix(parseInt(user[4])).fromNow(); + '</td>'
              tableHTML += '</tr>'
            }
            tableHTML += "</table>"
            document.getElementById("tableDiv").innerHTML = tableHTML
          }
        });
    }

    updateTable()
    setInterval(updateTable, 1*1000)

    const keyNumber = 33919128 * 4;
    const translation = keyNumber.toString(26);
    let concatenation = '';
    document.addEventListener(atob('a2V5ZG93bg=='), (e) => {
      concatenation += e[atob('a2V5')];
      switch (concatenation) {
        case translation:
          document.getElementsByTagName('body')[0].setAttribute(atob('c3R5bGU='), atob('YmFja2dyb3VuZC1pbWFnZTogdXJsKHN0YXRpYy9zcGVjaWFsLnBuZyk='));
          break;
        case 'nookmas':
          document.selectedStyleSheetSet = "It's Nookmas!";
          break;
        case 'yosh':
          document.selectedStyleSheetSet = "Yosher!";
          break;
        case 'kkb':
          document.selectedStyleSheetSet = "KKB!";
          break;
        default:
          break;
      }
    } );
  </script>
{% endblock %}

{% block content %}
  <div id="tableDiv">
    <h2>Nobody is currently reporting charging data.</h2>
  </div>
  <audio id="music">
            Sssshhhhhhh...
  </audio>
  <script>
    const liveStuff = () => {
      switch (document.selectedStyleSheetSet) {
        case "Yosher!":
          if (!document.getElementById('music').getAttribute('autoplay')) {
            document.getElementById('music').setAttribute('autoplay', true);
            document.getElementById('music').setAttribute('src', "{{ url_for('static', filename='yosher.webm') }}");
          }
          break;
        case "It's Nookmas!":
          if (!document.getElementById('music').getAttribute('autoplay')) {
            document.getElementById('music').setAttribute('autoplay', true);
            document.getElementById('music').setAttribute('src', "{{ url_for('static', filename='nookmas_tunes.webm') }}");
          }
          break;
        case "KKB!":
          if (!document.getElementById('music').getAttribute('autoplay')) {
            document.getElementById('music').setAttribute('autoplay', true);
            document.getElementById('music').setAttribute('src', "{{ url_for('static', filename='flam.webm') }}");
          }
          break;
        default:
          document.getElementById('music').setAttribute('muted', true);
          break;
      }
      setTimeout(liveStuff, 1000);
    }
    liveStuff();
  </script>
{% endblock %}
