{% extends "base.html" %}

{% block content %}
<h3>Log in</h3>
{% with messages = get_flashed_messages() %}
{% if messages %}
    <div>Error logging in: {{ messages[0] }}</div>
{% endif %}
{% endwith %}
<div>
    <form method="POST" action="/login">
            <div>
                <input type="text" name="username" placeholder="Username" autofocus="">
            </div>

            <div >
                <input type="password" name="password" placeholder="Password">
            </div>

        <button>Login</button>
    </form>
</div>
{% endblock %}