{% extends "base.html" %}

{% block content %}
<h3>Sign Up</h3>
{% with messages = get_flashed_messages() %}
{% if messages %}
    <div>
        {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>.
    </div>
{% endif %}
{% endwith %}
<div>
    <form method="POST" action="/signup">
            <div>
                <input type="email" name="email" placeholder="Email" autofocus="">
            </div>

            <div>
                <input type="text" name="username" placeholder="Username">
            </div>

            <div >
                <input type="password" name="password" placeholder="Password">
            </div>

        <button>Sign Up</button>
    </form>
</div>
{% endblock %}