{% extends "base.html" %}

{% block head %}
  <title>Dry Electrics Delegator - {{username}}</title>
  <script src="{{ url_for('static', filename='d3.v5.min.js') }}"></script>
{% endblock %}

{% block content %}
  <h2>{{username}} Charge History</h2>
  <div class="chart">
    <div class="chart-controls">
      <input type="datetime-local" id="start-time">
      <input type="datetime-local" id="end-time">
      <button id="today-button">Today</button>
      <button id="all-button">All</button><br />
    </div>
  </div>
  <script type="text/javascript">
    function timeConverter(UNIX_timestamp){
      var a = new Date(UNIX_timestamp);
      var year = `${a.getFullYear()}`.padStart(4, '0');
      var month = `${a.getMonth()+1}`.padStart(2, '0');
      var date = `${a.getDate()}`.padStart(2, '0');
      var hours = `${a.getHours()}`.padStart(2, '0');
      var min = `${a.getMinutes()}`.padStart(2, '0');
      var time = `${year}-${month}-${date}T${hours}:${min}`;
      return time;
    }

    document.body.onload = () => {
      document.getElementsByClassName('chart')[0].addEventListener('mouseenter', () => {
        document.documentElement.style.overflow = "hidden";
        document.body.style.overflow = "auto";
      });

      document.getElementsByClassName('chart')[0].addEventListener('mouseleave', () => {
        document.documentElement.style.overflow = "initial";
        document.body.style.overflow = "initial";
      });
    }


    window.addEventListener('wheel', (e) => {

      if (document.documentElement.style.overflow !== "hidden") return;

    const interval = 40*60;

    let startTime = parseInt(Date.parse(document.getElementById("start-time").value));
    let endTime = parseInt(Date.parse(document.getElementById("end-time").value));

    var delta;

    if (event.wheelDelta){
      delta = event.wheelDelta;
    } else {
      delta = -1 * event.deltaY;
    }

      startTime += delta*interval;
      endTime += delta*interval;

      setDateDirectly(timeConverter(startTime), timeConverter(endTime));
      updateChart();
  });

  function toHex(num) {
    return (num < 16) ? "0"+num.toString(16) : num.toString(16)
  }

  function getPointColor(percentage) {
    let red, green
    if (percentage <= 50) {
      red = 255
      green = Math.round(255 * percentage * 2 / 100)
    }
    else {
      red = Math.round(255 * (1 - (percentage - 50) * 2 / 100))
      green = 255
    }

    return "#" + toHex(red) + toHex(green) + "00"
  }

  function formatDate(dt) {
    return dt.substr(0,10) + "T" + dt.substr(11,5)
  }

  function setDateDirectly(startTime, endTime)
  {
    document.getElementById("start-time").value = startTime;
    document.getElementById("end-time").value = endTime;
  }

  function setDates(startTime, endTime) {
    document.getElementById("start-time").value = formatDate(startTime)
    document.getElementById("end-time").value = formatDate(endTime)
  }

  function initializeSVG(width, height) {
    return d3.select("div.chart").append("svg").attr("width", width).attr("height", height)
  }

  let data = JSON.parse('{{data | safe}}')
  let firstTime = data[0][2]
  let lastTime = data[data.length - 1][2]

  setDates(firstTime, lastTime)

  let svg = initializeSVG(800, 600)

  let margin = {top: 25, right: 25, bottom: 25, left: 25};
  let graphWidth = +svg.attr("width") - margin.left - margin.right;
  let graphHeight = +svg.attr("height") - margin.top - margin.bottom;

  let graph = svg.append("g").attr("transform", "translate(" + margin.left + "," + margin.top + ")");

  let xScale = d3.scaleTime()
      .domain([Date.parse(firstTime), Date.parse(lastTime)])
      .range([0, graphWidth]);

  let yScale = d3.scaleLinear()
      .domain([0, 100])
      .range([graphHeight, 0]);

  let xAxisCall = d3.axisBottom(xScale).tickSize(-graphHeight);
  let xAxis = graph.append("g")
      .attr("transform", "translate(" + 0 + "," + graphHeight + ")")
      .call(xAxisCall);

  let yAxisCall = d3.axisLeft(yScale).tickSize(-graphWidth)
  let yAxis = graph.append("g")
      .call(yAxisCall)

  let lineGenerator = d3.line()
    .x(function(d) { return xScale(Date.parse(d[2])) })
    .y(function(d) { return yScale(d[0]) })

  addCircles(data)

  function updateChart() {
    let startTime = Date.parse(document.getElementById("start-time").value)
    let endTime = Date.parse(document.getElementById("end-time").value)

    xScale.domain([startTime, endTime])
    xAxisCall = d3.axisBottom(xScale).tickSize(-graphHeight);
    xAxis.call(xAxisCall)

    newData = data.filter(d =>  Date.parse(d[2]) <= endTime && Date.parse(d[2]) >= startTime)

    addCircles(newData)
  }

  function addCircles(data) {
    graph.selectAll("circle")
      .remove()
      .exit()
      .data(data)
      .enter().append("circle")
      .attr("cx", function(d){ return xScale(Date.parse(d[2])) })
      .attr("cy", function(d){ return yScale(d[0]) })
      .attr("r", 3)
      .attr("fill", function(d) { return getPointColor(d[0]) })
      .on("mouseover", pointMouseOver)
      .on("mouseout", pointMouseOut)
  }

  document.getElementById("start-time").addEventListener("change", updateChart)
  document.getElementById("end-time").addEventListener("change", updateChart)

  document.getElementById("all-button").addEventListener("click", function() {
    setDates(firstTime, lastTime)
    updateChart()
  })

  document.getElementById("today-button").addEventListener("click", function() {
    let today = new Date()
    let datePrefix = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
    let startTime = datePrefix+"T09:00"
    let endTime = datePrefix+"T18:00"

    setDates(startTime, endTime)
    updateChart()
  })

  function pointMouseOver(d, i) {
    svg.append("rect")
      .attr("id", "idrect"+i)
      .attr("x", xScale(Date.parse(d[2])) - 70)
      .attr("y", yScale(d[0]) - 10)
      .attr("width", 200)
      .attr("height", 20)
      .attr("fill", "black")
      .attr("fill-opacity", 0.5)
      .text(function() {
        return d[0]+"% @ "+d[2].substr(0,10) + " " + d[2].substr(11,8)
      })

    svg.append("text")
      .attr("id", "idtext"+i)
      .attr("x", xScale(Date.parse(d[2])) - 65)
      .attr("y", yScale(d[0]) + 5)
      .attr("fill", "white")
      .text(function() {
        return d[0]+"% @ "+d[2].substr(0,10) + " " + d[2].substr(11,8)
      })

    svg.append("line")
      .attr("id", "lineX")
      .attr("x1", margin.left + xScale(Date.parse(d[2])))
      .attr("y1", margin.top+graphHeight)
      .attr("x2", margin.left +xScale(Date.parse(d[2])))
      .attr("y2", margin.top+graphHeight-yScale(100-d[0]))
      .attr("stroke-width", 1)
      .attr("stroke-dasharray", "3, 3")
      .attr("stroke", "black");

    svg.append("line")
      .attr("id", "lineY")
      .attr("x1", margin.left)
      .attr("y1", margin.top+graphHeight-yScale(100-d[0]))
      .attr("x2", margin.left+xScale(Date.parse(d[2])))
      .attr("y2", margin.top+graphHeight-yScale(100-d[0]))
      .attr("stroke-width", 1)
      .attr("stroke-dasharray", "3, 3")
      .attr("stroke", "black");

    d3.select(this)
      .attr("stroke-width", "1")
      .attr("stroke", "#000000")
      .attr("r", 6)
  }

  function pointMouseOut(d, i) {
    d3.select(this)
      .attr("stroke", "none")
      .attr("r", 3)

    d3.select("#lineX").remove()
    d3.select("#lineY").remove()
    d3.select("#idrect"+i).remove()
    d3.select("#idtext"+i).remove()
  }
  </script>
{% endblock %}
